/* Your Website Styles */
.container {
	background: url("../img/bg.png");
	border-radius: 2.5em;
	height: auto;
}

.primary-nav {
	position: fixed;
	width: 63.25%;
	height: 10%;
	z-index: 10000;
	background: darkblue;
	border-radius: 25px;
	top: 0em;
}

.primary-nav li {
	display: inline;
	font-size: 2em;
	font-weight: bold;
	padding-left: 2em;
}

.primary-nav li a,
.primary-nav li a:link {
	padding-left: 0;
	text-decoration: none;
	color: white;

	-webkit-transition: padding-left 0.5s;
  	-moz-transition: padding-left 0.5s;
  	-ms-transition: padding-left 0.5s;
  	-o-transition: padding-left 0.5s;
  	transition: padding-left 0.5s;
}

.primary-nav li a:hover {
  padding-left: 1em;
  background: skyblue;
}

.primary-nav li a:active
 {
	color: purple;
}

body {
	background: url("../img/p1.png");
}


img {
	width: 18.75em;
	border: 2px solid lightblue;
	margin: 1.5em 0 0 1.5em;
}

h1 {
	color: orange;
	font-family: 'Clicker Script', 'cursive';
	font-weight: bold;
	letter-spacing: 3px;
	text-align: center;
	font-size: 3.4375em;
	position: relative;
	top: 1em;
}

h2 {
	font-family: 'Playball', 'cursive';
	letter-spacing: 2px;
	color: orange;
	float: right;
	padding: 1em;
	position: relative;
	top: -18em;
	right: 3em;
}

p {
	line-height: 1.5em;
	color: white;
	float: right;
	margin-right: 31em;
	position: relative;
	top: -28em;
	left: 26em;

}

.icons li a {
	background: url("../img/email.png") no-repeat;
	background-size: 2.5em;
	padding: 0.5625em 0.75em 0.625em 2.5em;
	font-size: 0.75em;
	margin-left: -1em;
}

.email:hover {
	background: url("../img/emailhover.png") no-repeat;
	background-size: 2.5em;
	padding: 0.5625em 0.75em 0.625em 2.5em;
	font-size: 0.75em;
	margin-left: -1em;
}

ul {
	list-style-type: none;
}

footer {
	text-align: center;
	color: darkblue;
	position: relative;
	bottom: 23em;
	margin: 0;
	padding: 0;
}

/* Show Grid */
.showgrid {
	background: url("../img/grid-bg.png") repeat-y;
}

.highlight {
	color: blue;
}


/* Media Queries*/
@media screen and (min-width: 800px) {
	.container {
		width: 80%;
		max-width: 80%;
		height: auto;
	}

	.primary-nav {
		width: 80%;
		max-width: 80%;
	}

	.primary-nav li {
		margin-left: -2.5em;
		padding-right: 1.5em;
		font-size: 1.6em;
	}

	img {
		width: 35%;
		max-width: 35%;
		float: left;
	}

	h1 {
		width: 55%;
		float: right;
		margin-right: 0.5em;
	}

	h2 {
		width: 75%;
		max-width: 75%;
		position: absolute;
		top: 10em;
		right: 2em;
	}

	#mis {
		position: relative;
		top: 0em;
		right: 4em;
	}
	#mis + p {
		top: -2em;
		width: 80%;
	}	

	#bi {
		position: relative;
		top: -2em;
		right: 4em;
	}
	#bi + p {
		top: -4em;
		width: 80%;
	}	

	footer {
		float: right;
		margin-right: 2em;
		top: -1em;
	}
}

@media screen and (max-width: 800px) {
	.container {
		width: 80%;
		max-width: 80%;
		height: auto;
	}

	.primary-nav {
		width: 80%;
		max-width: 80%;
	}

	.primary-nav li {
		width: 80%;
		max-width: 80%;
		margin-left: -2.5em;
		padding-right: 2em;
		font-size: 1.25em;
	}

	img {
		width: 35%;
		max-width: 35%;
		float: left;
	}

	h1 {
		width: 50%;
		max-width: 50%;
		float: right;
		margin-right: 0.5em;
		font-size: 2.25em;
		top: 3.5em;
	}

	h2 {
		width: 75%;
		max-width: 75%;
		position: absolute;
		top: 10em;
		right: 2em;
	}

	#mis {
		position: relative;
		top: 0em;
	}
	#mis + p {
		top: -2em;
		width: 80%;
	}	

	#bi {
		position: relative;
		top: -2em;
	}
	#bi + p {
		top: -4em;
		width: 80%;
	}	

	footer {
		float: right;
		margin-right: 2em;
		top: -1em;
	}
}

/* ========= Mobile ========= */

@media screen and (max-width: 480px) {
	.container {
		width: 80%;
		max-width: 80%;
		height: auto;
	}

	.primary-nav {
		width: 40%;
		max-width: 40%;
		height: auto;
	}

	.primary-nav li {
		width: 80%;
		max-width: 80%;
		margin-left: -3em;
		margin-right: 1em;
		font-size: 1.5em;
	}

	.nav {
		position: relative;
		top: 5em;
		left: 7em;
	}

	img {
		width: 42%;
		max-width: 42%;
		float: right;
		margin-top: -7em;
		margin-right: 0.5em;
	}

	h1 {
		width: 95%;
		max-width: 95%;
		float: right;
		margin-right: 0em;
		font-size: 2em;
		top: 5em;
	}

	h2 {
		width: 85%;
		max-width: 85%;
		position: absolute;
		right: 0em;
		font-size: 1.25em;
	}

	#mis {
		position: relative;
		top: 2em;
	}
	#mis + p {
		top: 0em;
		width: 85%;
		max-width: 85%;
		left: 30em;
		font-size: 1em;
	}	

	#bi {
		position: relative;
		top: 0em;
	}
	#bi + p {
		top: -2em;
		width: 85%;
		max-width: 85%;
		left: 30em;
		font-size: 1em;
	}	

	footer {
		float: right;
		margin-right: 2em;
		top: -1em;
	}

}
